<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	autoReload="true"

	<targets>
		
		<target name="file" xsi:type="File" fileName="C:\Users\48723\Desktop\Nowy folder\2022\RestaurantAPI/log.txt" />
		


	</targets>
	<rules>
		
		
		<logger name="*" levels="Error" writeTo="file" />
		
	</rules>
</nlog>
